<div class="nav_bar_username" >
    <p>username</p>
    <div class="signout_menu">
        <ul>
            <li><a href="#">My profile</a></li>
            <li><a href="#">Setting</a></li>
            <li><a href="#">Signout</a></li>
        </ul>
    </div>
</div>
