<section>
    <div class="main_container">
        <div class="container">
            <div class="form_container signup_container">
                {{> flash_message}}
                <form method="POST" action="/auth/signup">
                    <h1>Create an account</h1>
                    <input name="username" id="username" type="text" placeholder="Username">
                    <input name="email" id="email" type="email" placeholder="E-mail">
                    <input name="password" id="password" type="password" placeholder="Password">
                    <input name="city" id="city" type="text" placeholder="city">
                    <button type="submit">Sign up</button>
                </form>
            </div>
            {{> overlay_left}}
        </div>
    </div>
</section>

