<div class="overlay_container">
    <div class="overlay">
        <div class="overlay_panel overlay_right">
            <h1>Let's join</h1>
            <p>What ? You don't have an account yet ? Then sign yourself up !</p>
            <form method="GET" action="/auth/signup">
                <button class="invisible_btn" id="signup_btn">Sign up</button>
            </form>
        </div>
    </div>
</div>