<div id="carousel-dashboard">
<div class="hideLeft">
        <img src="">
      </div>

      <div class="prevLeftSecond">
        <img src="">
      </div>

      <div class="prev">
        <img src="">
      </div>

      <div class="selected">
        <img src="">
      </div>

      <div class="next">
        <img src="">
      </div>

      <div class="nextRightSecond">
        <img src="">
      </div>

      <div class="hideRight">
        <img src="">
      </div>
    
</div>