<div id='nav_bar_box'>
  <header class='main_head'>
    <img id="logo-nav" src="/images/temporary-logo-white.png" alt="Neotrip logo">
    {{> search_bar}}
    <nav class='nav_bar'>
      <a class='link_item' href='/'>Home</a>
      <a class='link_item' href='/destinations'>Destinations</a>

      {{#if isLoggedIn}}
        <a class='link_item' href='/dashboard'> My Dashboard</a>
      {{/if}}

      <div>
        {{#unless isLoggedIn}}
          <a class='link_item' href='/whoarewe'>Who are we</a>
          <a class='link_item' href='/auth/signin'> Signin</a>
        {{/unless}}
      </div>

      {{#if isLoggedIn}}
        <a class='link_item' href='/dashboard/myprofile'> {{currentUser.username}}</a>
        <form method="POST" action="/auth/signout">
         <button>signout</button>
        </form>
      {{/if}}
    </nav>
  </header>
</div>