<div id="nav_bar_box">
    <header class="main_head">
        <nav class="nav_bar">
            <a class="link_item" href="/">Home</a>
            <a class="link_item" href="/road">What's on the road</a>
            <a class="link_item" href="/contact">Who are we</a>
            <a class="link_item" href="/auth/signin">Let me join</a>
        </nav>
    </header>
</div>