<div class='search_box'>
  <form method='get' action=''>
    <div class='search'>
      <div class='icon'></div>
      <div class='input'>
        <input id='new_input' type='text' placeholder='search..' />
      </div>
      <span class='clear'></span>
    </div>
  </form>
</div>