<section>
    <div class="main_container">
        <div class="container">
            <div class="form_container signup_container">
                <form method="POST" action="/auth/signup">
                    <h1>Create an account</h1>
                    <input name="firstname" id="firstname" type="text" placeholder="Firstname">
                    <input name="lastname" id="lastname" type="text" placeholder="Lastname">
                    <input name="location" id="location" type="text" placeholder="Location">
                    <input name="email" id="email" type="email" placeholder="E-mail">
                    <input name="password" id="password" type="password" placeholder="Password">
                    <button type="submit">Sign up</button>
                </form>
            </div>
            {{> overlay_left}}
        </div>
    </div>
</section>

