<section id="dashboard-title">
  <h1>MY DASHBOARD</h1>
</section>
<section id="dashboard-carousel-container">
<div class="slider">
	<div class="slide-track">

    {{#each user.wishlist}}

		<div class="slide">
		
    	<div class="carousel-city-name">{{this.city}}</div>
      <img class="carousel-city-photo" src="{{this.photo_city}}" alt="Photo of {{this.city}}"/>

		</div>

    {{/each}}

  </div>
</div>

</section>


<section id="dashboard-menu">

<a href="/map" class="dashboard-options">
    <img class="dashboard-img-1" src="/images/dashboard_map-icon.png" alt="Map icon">
    <h2>Access map</h2>
</a>

<a href="../dashboard/destinations_add" class="dashboard-options">
    <img class="dashboard-img-2" src="/images/dashboard_add-destination-icon.png" alt="Add destination icon">
    <h2>Add destination</h2>
</a>

<a href="../destination/destinations_list" class="dashboard-options">
    <img class="dashboard-img-3" src="/images/dashboard_mydestinations-icon.png" alt="My destinations icon">
    <h2>My destinations</h2>
</a>

<a href="/dashboard/myprofile" class="dashboard-options">
    <img class="dashboard-img-4" src="/images/dashboard_myprofile-icon.png" alt="My profile icon">
    <h2>My profile</h2>
</a>

</section>