<div class="body-destination-manage">

  <div class="big-container-add destination-manage-wrapper flexed-item">

    <form
      action="/destinations/activity_add"
      method="post"
      class="add-destination-form"
      enctype="multipart/form-data"
    >

      <h3 class="form-add-destination-title">Add a destination</h3>


        {{! CATEGORY }}

        <div class="form-item-wrapper flexed-item">
          <label for="category" class="label-main-cat label">Category</label>
          <select id="category" class="select" name="category" required>

            <option value="-1" disabled selected>Choose a category</option>
            <option value="Restaurant">Restaurant</option>
            <option value="Nature">Nature</option>
            <option value="Culture">Culture</option>
            <option value="City">City</option>

          </select>
            <br>
        {{!-- </div> --}}

      {{! CITY }}

      <label for="city_name">City name:</label>
      <input type="text" id="city" name="city_name" class="city" />

      {{! ACTIVITY NAME }}

      <label for="activity_name">Title:</label>
      <input type="text" id="activity_name" name="activity_name" class="city" />

      {{! ACCESSIBILITY }}

      <label for="accessibility" class="label-main-cat label">Accessibility:</label>
      <select
        id="category"
        class="form-add-edit-blocks select"
        name="accessibility"
        required
      >
        <option value="-1" disabled selected>How do you get there ?</option>
        <option value="Plane">Plane</option>
        <option value="Train">Train</option>
        <option value="Bus">Bus</option>
        <option value="Bicycle">Bicycle</option>
        <option value="Walk">Walk</option>
      </select>
        <br>

      {{! ITINERARY }}

      {{!-- <div class="form-item-wrapper flexed-item"> --}}
        <label for="itinerary" class="label-price label">More details on how you
          got there (which line did you take ? etc)</label>
        <textarea
          id="itinerary"
          name="itinerary"
          class="sneaker-price input"
        ></textarea>
          <br>
      {{!-- </div> --}}

      {{! IMAGE }}

      <div class="form-item-wrapper flexed-item">
        <label for="photo" class="label-price label">Image</label>
        <input
          id="photo"
          name="photo"
          type="file"
          class="sneaker-price input"
        />
      </div>

      {{! TAGS }}

      {{!-- <div class="form-add-edit-blocks"> --}}
       <label for="id_tags" class="label-price label">Tag:</label>
        <select name="id_tags" id="tags" class="select" required>

          <option value="60a627cf76bdb327604215b5">Family-friendly</option>
          <option value="60a627cf76bdb327604215b6">Food</option>
          <option value="60a668adc142cc77c1001728">Hiking</option>
          <option value="60a668adc142cc77c1001729">Swim</option>
          <option value="60a668adc142cc77c100172a">Trek</option>
          <option value="60a668adc142cc77c100172b">Animal-friendly</option>
          <option value="60a668adc142cc77c100172c">Culture</option>
          <option value="60a668adc142cc77c100172d">Children-friendly</option>
          <option value="60a668adc142cc77c100172e">Romantic</option>

        </select>
        <br>

      {{!-- </div> --}}
      {{!-- <div class="form-add-edit-blocks"> --}}
        <label for="description">Description:</label>
        <textarea
          type="text"
          id="description"
          name="description"
          required
        ></textarea>
        <br>
      <button class="button-add-edit submit-btn">Submit</button>
    </form>
    </div>
  </div>
</div>