<div class="body-destination-manage">

<div class="big-container destination-manage-wrapper flexed-item">

  <form action="/destinations/activity_add" method="post" class="add-destination-form" 
  {{!-- enctype="multipart/form-data" --}}
  >

<h3 class="form-add-destination-title">Add a destination</h3>

<div class="form-add-edit-blocks">

{{!-- CATEGORY --}}

    <div class="form-item-wrapper flexed-item">
      <label for="category" class="label-main-cat label">Category</label>
         <select id="category" class="select" name="category" required>

           <option value="-1" disabled selected>Choose a category</option>
           <option value="Restaurant">Restaurant</option>
           <option value="Nature">Nature</option>
           <option value="Culture">Culture</option>
           <option value="City">City</option>

         </select>
    </div>
</div>


{{!-- CITY --}}

<label for="city_name">City name:</label>
<input type="text" id="city" name="city_name" class="city">

{{!-- ACCESSIBILITY --}}

<p><b>Accessibility:</b></p>

<select id="category" class="form-add-edit-blocks select" name="accessibility" required>
        <option value="-1" disabled selected>How do you get there ?</option>
        <option value="Plane">Plane</option>
        <option value="Train">Train</option>
        <option value="Bus">Bus</option>
        <option value="Bicycle">Bicycle</option>
        <option value="Walk">Walk</option>
</select>

{{!-- ITINERARY --}}

 <div class="form-item-wrapper flexed-item">
      <label for="destination-itinerary" class="label-price label">More details on how you got there (which line did you take ? etc)</label>
      <textarea id="destination-itinerary" class="sneaker-price input"></textarea>
 </div>

{{!-- IMAGE --}}

 <div class="form-item-wrapper flexed-item">
      <label for="destination-img" class="label-price label">Image</label>
      <input id="destination-img" type="file" class="sneaker-price input">
 </div>
 <div class="form-add-edit-blocks">
 <p>Destination characteristics:</p>

 <select name="id_tags" id="tags" class="select" required>

  <option value="60a627cf76bdb327604215b5">Family-friendly</option>
  <option value="60a627cf76bdb327604215b6">Food</option>

  </select>

</div>
<div class="form-add-edit-blocks">
 <label for="name">Description:</label>
  <textarea type="text" id="description" name="description" required></textarea>
</div><br>
    <button class="button-primary submit-btn">Submit</button>
  </form>
</div>

