<div class="big-container destination-manage-wrapper flexed-item">
  <form method="post" action="/dashboard/myDestination_edit/{{activity._id}}" class="edit-product-form">
    <h3 class="form-title"> Edit Destination</h3>
     
      <div class="form-item-wrapper flexed-item">
      <label for="category" class="label-main-cat label">Category</label>
      <select id="category" class="select" name="category" required>
        <option value="-1" disabled selected>{{activity.category}}</option>
        <option value="restaurant">Restaurants</option>
        <option value="nature">Nature</option>
        <option value="culture">Culture</option>
      </select>
    </div>
<p>Accessibility:</p>
<div>
  <input type="checkbox" id="plane" name="plane">
  <label for="plane">Plane</label>
  <input type="checkbox" id="train" name="train">
  <label for="train">Train</label>
  <input type="checkbox" id="bus" name="bus">
  <label for="bus">Bus</label>
  <input type="checkbox" id="bicycle" name="bicycle">
  <label for="bicycle">Bicycle</label>
  <input type="checkbox" id="walk" name="walk">
  <label for="walk">Walk</label>
</div>
<div class="form-item-wrapper flexed-item">
      <label for="destination-img" class="label-price label">Image</label>
      <input id="destination-img" type="file" class="sneaker-price input">
 </div>
<p>Destination characteristics:</p>
<div>
  <input type="checkbox" id="family-friendly" name="family-friendly">
  <label for="family-friendly">Family-friendly</label>
  <input type="checkbox" id="food" name="food">
  <label for="food">Food</label>
  <input type="checkbox" id="hiking" name="hiking">
  <label for="hiking">Hiking</label>
  <input type="checkbox" id="swim" name="swim">
  <label for="swim">Swim</label>
  <input type="checkbox" id="trek" name="trek">
  <label for="trek">Trek</label>
  <input type="checkbox" id="animal-friendly" name="animal-friendly">
  <label for="animal-friendly">Animal-friendly</label>
  <input type="checkbox" id="culture" name="culture">
  <label for="culture">Culture</label>
  <input type="checkbox" id="children-friendly" name="children-friendly">
  <label for="children-friendly">Children-friendly</label>
</div>
 <label for="name">Description:</label>
  <textarea type="text" id="description" name="description" required>{{activity.description}}</textarea>
</div><br>
    <button class="button-primary edit-destination-btn">Edit this destination</button>
  </form>
</div>