<h1> This is an example</h1>

<div class="card">
    <p> username :  {{user.username}}</p>  
    <p>email : {{user.email}}</p>
    <p>Description : {{user.description}}</p>
    <p>city : {{user.city}}</p>
    <a href="/myprofile/:id/edit">Edit</a> 
    <a href="/myprofile/:id/delete">Delete Account</a> 
</div>

