<div>
  <form method='POST' action='/auth/signup'>
    <label for='username'>Display Name : </label>
    <input name='username' id='username' type='text'/>

    <label for='email'>Email : </label>
    <input name='email' id='email' type='email'/>

    <label for='city'>City : </label>
    <input name='city' id='city' type='text'/>

    <label for='description'>Description : </label>
    <textarea name='description' id='description' type='text'/>

    <button type='submit'>Submit</button>
  </form>
</div>