<div>MY WISHLIST</div>

    {{#each user.wishlist}}

		<div class="wishlist-card">
		
    	<div class="carousel-city-name">{{this.city}}</div>
      <img class="carousel-city-photo" src="{{this.photo_city}}" alt="Photo of {{this.city}}"/>

		</div>

    {{/each}}