<div>MY WISHLIST</div>

{{#each user.wishlist}}

<div class="destinations-container">
  <div class="grid-container">
    <div class="photo-and-cityname">
      <h4 class="cityname">{{destinations.city_name}}</h4>
      <img
        class="city-thumbnail"
        src="{{destinations.city_photo}}"
        alt="Photo of {{destinations.city_name}}"
      />
    </div>

  </div>

</div>

{{/each}}