<div class="main-content-city flexed-item big-container"></div>
<h1>Hello!</h1>
{{!-- CITY NAME --}}
{{!-- insert name with Google place + bouton wishlist --}}
<button class="button-primary submit-btn"><i class="far fa-heart"></i></button>

{{!-- CATEGORIES --}}

<aside class="tag-wrapper">
  {{#each category}}
    {{!-- <h4 class="tag-title">All Tags</h4> --}}
    <ul id="tag_list" class="tag-list" data-category="{{activity.category}}">
      <li class="category-list-item">
          {{> carousel_city}}
      </li>
    </ul>
  {{/each}}
    
</aside>