<section id="destination-list-wrapper">
<h1>Destinations</h1>


{{!-- NON USER VIEW --}}


{{#unless isLoggedIn}}
<div class="destinations-container">
    <div class="grid-container">
        <div class="photo-and-cityname">
            <h4 class="cityname">Paris</h4>
            <img class="city-thumbnail" src="https://lp-cms-production.imgix.net/image_browser/Effiel%20Tower%20-%20Paris%20Highlights.jpg"
                 alt="Paris"/>
        </div>
        <div class="photo-and-cityname">
            <h4 class="cityname">Lyon</h4>
            <img class="city-thumbnail" src="https://image.arrivalguides.com/415x300/09/128e81d0745c4858dc799a49688157fc.jpg" alt="Lyon"/>
        </div>
        <div class="photo-and-cityname">
            <h4 class="cityname">Bordeaux</h4>
            <img class="city-thumbnail" src="https://www.easyjet.com/ejcms/cache/medialibrary/Images/JSS/Destinations/Hero/France_Bordeaux_3840x2160.jpg"
                 alt="Lyon"/>
        </div>
  </div>
{{/unless}}



{{!-- USER VIEW --}}

{{#if isLoggedIn}}

<div class="destinations-container">

    <div class="grid-container">

        {{#each objetPhoto}}

        <a href="/destinations/{{this.name}}" class="photo-and-cityname">
            <h4 class="cityname">{{this.name}}</h4>
            <img class="city-thumbnail" src="{{this.photo}}"
                 alt="Photo of {{this.name}}"/>
        </a>

        {{/each}} 
        
    </div>

</div>

{{/if}}


<div class="map-container">
<style type="text/css">
      /* Set the size of the div element that contains the map */
      #map {
        height: 90%;
        width: 160%;
        position : fixed;
        top :0;
        right: 0;
      }
    </style>
    <script>
      // Initialize and add the map
      function initMap() {
        // The location of Uluru
        const uluru = { lat: 46.00, lng: 2.00 };
        // The map, centered at Uluru
        const map = new google.maps.Map(document.getElementById("map"), {
          zoom: 4,
          center: uluru,
        });
        // The marker, positioned at Uluru
        const marker = new google.maps.Marker({
          position: uluru,
          map: map,
        });
      }
    </script>
  </head>
  <body>
    <!--The div element for the map -->
    <div id="map"></div>

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9bipAkZJCYhe1C0of8AZ6tBBzAAjvxko&callback=initMap&libraries=&v=weekly"
      async
    ></script>

    </div>
</div>
</section>