<h1>Destinations</h1>


{{!-- non user --}}


{{#unless isLoggedIn}}
<div class="conteneur-destinations">

  <div class="activity-img">
    <img
      src="https://lp-cms-production.imgix.net/image_browser/Effiel%20Tower%20-%20Paris%20Highlights.jpg?auto=format&fit=crop&sharp=10&vib=20&ixlib=react-8.6.4&w=850"
      alt="Paris"/>
  </div>
  <p class="activity-name">Paris</p>
</div>

<div class="conteneur-destinations">

  <div class="activity-img">
    <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/15/33/f7/4d/lyon.jpg?w=1600&h=1100&s=1"
      alt="Lyon"/>
  </div>
  <p class="activity-name">Lyon</p>
</div>

{{/unless}}


{{!-- user --}}
{{#if isLoggedIn}}




{{!-- 
 <a href="/destinations/">Paris</a>
  <a href="/destinations/Bordeaux">Bordeaux</a> --}}

{{#each newCitiesName}}
<a href="/destinations/{{this}}">
  <img class="activity-img" src="/images/temporary-logo.png" alt="Photo of {{this}}" />
  <p class="activity-name">{{this}}</p>
</a>
{{/each}} 

{{/if}}