<section id="index-section-one">

    <h1 id="index-main-title">NEOTRIP</h1>
    <p class="index-subtitle_one">&nbsp; Can't drive yet ? &nbsp;</p>
    <br>
    <p class="index-subtitle_two">Find an accessible holiday destination</p>

</section>

<section id="index-section-two">

    <img class="main-page-image" src="/images/homepage_woman-computer.jpg" alt="Woman trying to find a vacation spot">

    <p class="main-page-text">Every year it's the same story : you want to go on a trip but you don't have a driver's license yet. Easier said than done.
        Finding the right spot is a nightmare, we know !
        But don't worry, this time, we got you ;) </p>

</section>