
<section class="section_one">
  <div class='welcome'>
    <h1>NEOTRIP</h1>
    <h3>Don't have your driver's license yet ? Find your holiday destination in one click</h3>
  </div>
</section>

<div>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum neque tempora
    rem nemo at quibusdam aperiam aspernatur molestiae minus? At iste odio
    officiis cumque deserunt quo nemo culpa ex iusto? Saepe aspernatur ab, nobis
    eius voluptatum dignissimos totam ducimus. Obcaecati veritatis perferendis
    cupiditate adipisci id! Impedit iste enim eum ipsam, perspiciatis provident!
    Molestias quidem nostrum vitae odio tenetur saepe labore! Vel repellat ipsa
    maxime voluptate beatae facilis fuga! Illum voluptatem et dicta quidem,
    recusandae iusto pariatur dolores nulla deserunt consequatur aliquid numquam
    mollitia beatae unde eveniet commodi! Laborum, impedit iste! Incidunt quasi
    velit, similique maxime natus doloremque nulla aut saepe assumenda quaerat,
    officiis sunt ratione iste omnis et dignissimos accusantium cum expedita
    soluta. Autem alias voluptates consequatur eius dolor incidunt! Provident ea
    quibusdam suscipit officiis? Accusamus ipsam consequuntur neque molestiae
    quis, veniam tenetur ducimus nulla animi reiciendis aut laboriosam eveniet
    voluptatem optio earum, repudiandae iste quo fuga possimus corrupti in.</p>
</div>
