{{!-- <div class="join_section">
    <h1>Let me join the trip</h1>
    <p>Let the adventure begin</p>
</div>
<div id="join">
    <div id="connect-container">
        {{> signin}}
        {{> signup}}
    </div>
</div> --}}