<div class='section-team'>
  <div class='team-container'>
    <h1 class='getting-to-know'>Get to know the team</h1>
    <div class='team-member'>
      <div class='name-and-photo-row'>
        <h1>LISA</h1>
        <img
          src='https://upload.wikimedia.org/wikipedia/commons/f/f3/Sparkling_Violet-ear_%28Colibri_coruscans%29_11.jpg'
        />
      </div>
      <p>Lisa has taken of the front-end of the site. Even if she's not allowed
        to drive yet, she does know how to drive a TEAM.</p>
    </div>

    <div class='team-member'>
      <div class='name-and-photo-row'>
        <img
          src='https://petkeen.com/wp-content/uploads/2020/04/cute-black-rabbit.jpg'
        />
        <h1>ALICE</h1>
      </div>
      <p>Alice is a young developper. Just like LISA and Melisa, she decided to
        launch the NEOTRIP project to allow other young people without their
        driver's license to go on vacation.</p>
    </div>

    <div class='team-member'>
      <div class='name-and-photo-row'>
        <h1>MELISA</h1>
        <img src='https://data.whicdn.com/images/88100764/original.jpg' />
      </div>
      <p>Melisa did all the back-end part of this website. Especially the
        signup/signin/signout sections. If you signup, please admire her works
        ;)</p>
    </div>
  </div>
</div>
{{! CSS }}