<h1>Get to know the team</h1>

<div>
  <p>LISA</p>
  <p>Lisa has taken of the front-end of the site. Even if she's not allowed to
    drive yet, she does know how to drive a TEAM.</p>
</div>

<div>
  <p>ALICE</p>
  <p>Alice is a young developper. Just like LISA and Melisa, she decided to
    launch the NEOTRIP project to allow other young people without their
    driver's license to go on vacation.</p>
</div>

<div>
  <p>MELISA</p>
  <p>Melisa did all the back-end part of this website. Especially the
    signup/signin/signout sections. If you signup, please admire her works ;)</p>
</div>

{{!-- CSS --}}