#dashboard-menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80vh;
    top: 10vh;
    position: relative;
}


.dashboard-img-1 {
    width: 60%;
}

.dashboard-img-2 {
    width: 20%;
    margin: 5%;
}

.dashboard-img-3 {
    width: 43%;
    margin: 8%;
}

.dashboard-img-4 {
    width: 83%;
    margin: 4%;
}

.dashboard-options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}