#dashboard-carousel-container h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#dashboard-menu {
    display: flex;
    align-items: center;
    justify-content: center;
}


.dashboard-img-1 {
    width: 300px;
}

.dashboard-img-2 {
    width: 200px;
    margin: 52px;
}

.dashboard-img-3 {
    width: 270px;
    margin: 20px;
}

.dashboard-options-one, .dashboard-options-three, .dashboard-options-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dashboard-options-one {
    margin-right: 190px;
}


.dashboard-options-three {
    margin-left: 190px;
}