#dashboard-carousel-container {
    height: 32vh;
}

#dashboard-carousel-container h1 {
    text-align: center;
}

#dashboard-menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height:50vh;
}


.dashboard-img-1 {
    width: 300px;
}

.dashboard-img-2 {
    width: 200px;
    margin: 52px;
}

.dashboard-img-3 {
    width: 43%;
    margin: 8%;
}

.dashboard-img-4 {
    width: 270px;
    margin: 20px;
}

.dashboard-options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}