
.body-destination-manage {
  background-color: #FDFCF5;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: grid;
  align-items: center;
  justify-items: center;
  font-size: 12pt;
  color: #2A293E;
}

input {
  width: 100%;
}

.label-main-cat {
  font-size: bold;
  margin-top: 20px;
}

.big-container-add {
  background: #C7DDC5;
  padding: 50px 100px;
  border-top: 10px solid #7DC2A5;
  width: 60%;
}

.form-edit-title, .form-add-destination-title {
  font-style: bold;
  font-size: 30px;
}


textarea {
  display: block;
  width: 100%;
  font-size: 15pt;
  line-height: 24pt;
}

h3 {
  font-weight: normal;
  font-size: 10pt;
  line-height: 24pt;
  font-style: bold;
  margin: 0 0 0.5em 0;
  text-align: center;
}

/* span {
  font-size: 8pt;
}

em {
  color: #f45702;
  font-weight: bold;
} */

textarea {
  border: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  background: #f8f4e5;
  padding-left: 5px;
  outline: none;
  resize: none;
}

textarea:focus {
  border: 1px solid #6bd4b1;
}

.button-add-edit {
  display: block;
  float: right;
  line-height: 24pt;
  padding: 0 20px;
  border: none;
  background: rgb(255, 178, 147);
  color: white;
  letter-spacing: 2px;
  transition: 0.2s all ease-in-out;
  border-bottom: 2px solid transparent;
  outline: none;
}
.button-add-edit:hover {
  background: inherit;
  color: #f7b18b;
  border-bottom: 2px solid #f45702;
  background-color: #F1F1D3;
}

::selection {
  background: #ffc7b8;
}

textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
  border: 1px solid #6bd4b1;
  -webkit-text-fill-color: #2A293E;
  -webkit-box-shadow: 0 0 0px 1000px #f8f4e5 inset;
  transition: background-color 5000s ease-in-out 0s;
}