@import url("./nav_bar.css");
@import url("./form.css");
@import url("./reset.css");
@import url("./search_bar.css");
@import url("./myprofile.css");
@import url("./dashboard.css");
@import url("./footer.css");

/* FONTS */
/* @import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
/* BASIC SETUP */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* font-family: 'Architects Daughter', cursive; */
    font-family: 'Roboto', sans-serif;
}



/* BACKGROUND IMAGE */
.section_one {
    background: url(/images/bg.jpg) fixed;
    background-size: cover;
    height: 80vh;
    top: 10vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:rgb(240, 235, 227);
}


/* TITLE */
.section_one h1 {
    font-size: 10em;
    text-shadow: 10px 10px 10px rgba(28,12,7,0.86);
    -webkit-text-stroke-width: 6px;
    -webkit-text-stroke-color: teal;
    margin-bottom: 50px;
}

/* SUBTITLE */
.section_one .sub_one {
    font-size: 5em;
    font-weight: bold;
    text-shadow: 10px 10px 5px rgba(28,12,7,0.86);
}

.section_one .sub_two {
    font-size: 3em;
    text-shadow: 10px 10px 5px rgba(28,12,7,0.86);
}