.profile_main_box {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 650px;
  min-width: 300px;
  border: 1px solid rgb(180, 180, 180);
  margin: auto;
  margin-top: 180px;
  border-radius: 20px;
  padding: 30px 80px;
  background-color: #fff8dc;
  box-shadow: 0px 8px 60px -10px rgba(13, 28, 39, 0.6);
}

.profile_box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user_info {
  display: flex;
  flex-direction: column;
}

.user_info p {
  font-size: 32px;
  color: black;
  padding: 15px 0;
  line-height: 1.5;
}

.user_info p span {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
}

.profil_options {
  display: flex;
  justify-content: flex-end;
  font-size: 18px;
}

.profil_options a {
  padding: 4px 15px;
  background-color: rgb(236, 236, 236);
  border-radius: 20px;
  margin: 20px 12px;
}

a {
  color: black;
}

.user_avatar {
  height: 250px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border: 1px solid rgb(168, 165, 165);
  margin-bottom: 30px;
}
.user_avatar img {
  max-width: 270px;
  object-fit: cover;
}



.btn_profile {
  border-radius: 10px;
  border: none;
  font-size: 14px;
  background-color: rgb(255, 178, 147);
  padding: 10px 35px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: white;
  transition: transform 80ms ease-in;
  box-shadow: 0 5px 80px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
  margin-top: 15px;
}


.btn_profile1 {
  border-radius: 10px;
  border: none;
  font-size: 14px;
  background-color: rgb(255, 178, 147);
  padding: 10px 35px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: white;
  transition: transform 80ms ease-in;
  box-shadow: 0 5px 80px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
  margin-bottom: 30px;
  position: relative;
  bottom: 36px;
  left: 80px;
}