#nav_bar_box {
    display: flex;
    background: linear-gradient(0deg, rgba(73,158,123,1) 0%, rgba(110,180,151,1) 10%, rgba(125,194,165,1) 20%);;
    justify-content: space-between;
    position: fixed;
    height: 12vh;
    top: 0;
    width: 100%;
    z-index: 100;
}
.main_head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-size: 2em;
}

.nav_bar form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_bar button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.link_item {
    color: whitesmoke;
    -webkit-text-stroke-width: 0.8px;
    -webkit-text-stroke-color: whitesmoke;
    padding: 0 50px;
    font-weight: 800;
}

.link_item:active {
    transform: scale(0.95);
}

.link-item:hover {
    font-style: italic;
}

#logo-nav {
    width: 85px;
    margin: 10px 10px 10px 25px;
}